{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img src="/static/earth.jpg" class="img-fluid float-left" style="max-width:100%;height:auto;" alt="Map of the world">
            </div>
            <div class="col">
                <p class="txt-msg">
                    Given that there are 195 countries in the world, there is a lot to know and understand.
                    <br>
                    <br>
                    While most will know their own country and information about the largest economies in the world our knowledge tends to drop off with those countries further away, and with small economies
                    <br>
                    <br>
                    This game will test your knowledge across the globe
                </p>
            </div>
        </div>
    </div>

{% endblock %}